*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh-Sans", sans-serif;
    scroll-behavior: smooth;
}
/********************************************/
.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    z-index: 1;
}
.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar_item{
    height: 80px;
}
.navbar_link{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    background-image: linear-gradient(red, red);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}
.navbar_button{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}
.embolden{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 125px;
    border: none;
    outline: none;
    color: red;
    background-image: linear-gradient(red, red);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}
#navbar_logo {
    background: url(../res/COC\ Logo_2C_PMS_REV.png);
    background-image: url(../res/COC\ Logo_2C_PMS_REV.png) ;
    background-repeat: no-repeat;
    background-size: 244.7px 69.7px;
    margin-top: 0.25rem;
    margin-right: 0;
    width: 440.6px;
    height: 125.6px;
}
a:hover,
a:focus,
a:active {
background-size: 100% 0.1em;
}

@media screen and (max-width:1000px){
    /*Responsive styling for navbar*/
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 5rem;
        z-index: 1;
        max-width: 1000px;
        padding: 0;
    }
    .navbar_menu{
        display:grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top:-1000px;
        opacity:1;
        transition: all .5s ease;
        z-index: -1;
    }
    .navbar_menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all .3 ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }
    .navbar_item{
        width: 100%;
    }
    .navbar_link {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu{
        position: absolute;
        top: 10%;
        right: 10%;
        transform: translate(5%, 20%);
    }
    .navbar_toggle .bar{
        width: 40px;
        height: 6px;
        margin: 7px auto;
        display: block;
        cursor: pointer;
        background: #fff;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(9px) rotate(-45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
}