:root{
    --brand-black:rgb(35, 32, 32);
    --brand-red: rgb(238, 52, 36);
    --white: rgb(255,255,255);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh-Sans", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/********************************************/
/* Scrollbar */
::-webkit-scrollbar {
    width: 0.6em;
}
::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb {
    background: red;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(214, 48, 33);
}
/********************************************/
.navbar{
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border-radius: -10px;
}
.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    z-index: 1;
}
.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar_item{
    height: 80px;
}
.navbar_link{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    background-image: linear-gradient(red, red);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}
.navbar_button{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}
.embolden{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 125px;
    color: red;
    font-weight: 550;
    background-image: linear-gradient(red, red);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}
#navbar_logo {
    background: url(../res/COC\ Logo_2C_PMS_REV.png);
    background-image: url(../res/COC\ Logo_2C_PMS_REV.png) ;
    background-repeat: no-repeat;
    background-size: 244.7px 69.7px;
    margin-top: 0.25rem;
    margin-right: 0;
    width: 440.6px;
    height: 125.6px;
    pointer-events: none;
}
a:hover, a:focus, a:active {
    background-size: 100% 0.1em;
}
/********************************************/
.heroimg {
    z-index: 2;
    box-shadow: inset 0 0 10px 10px #000;;
    width: 100%;
    height:100%
}
.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    font-size:4rem;
    color: var(--brand-black);
    transform: translate(-50%, -50%);
  }
.footer {
    position:relative;
    left: 0;
    bottom: 0;
    height: 12rem;
    width: 100%;
    background-color: black;
    text-align: center;
    border-top: 3px solid red;
 }
.footer p{
    color: white;
}
.table1 {
    display: column;
    justify-content: left;
    text-align: left;
    color:var(--white);
    margin-left: 2rem;
}
.table2 {
    display: column;
    justify-content: center;
    text-align: left;
    color:var(--white);
    margin-left: 25rem;
    margin-top:  -3.6rem;
}
.table3  {
    display: column;
    justify-content: center;
    text-align: left;
    color:var(--white);
    margin-left: 40rem;
    margin-top:  -6.5rem;
}
.table3 a {
   color: lightcoral
}
th{
    font-size:1rem;
    color: lightcoral;
}
.footer-icons{
  display: flex;
  justify-content: right;
  margin-right: 20rem;
}
.underline {
    cursor: pointer;
    text-decoration: underline;
}
@media screen and (max-width:1000px){
    /*Responsive styling for navbar*/
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 5rem;
        z-index: 1;
        max-width: 1000px;
        padding: 0;
    }
    .navbar_menu{
        display:grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top:-1000px;
        opacity:1;
        transition: all .5s ease;
        z-index: -1;
    }
    .navbar_menu.active {
        background: #000000;
        top: 100%;
        opacity: 1;
        transition: all .3 ease;
        z-index: 99;
        height: 68vh;
        font-size: 1.6rem;
    }
    .navbar_item{
        width: 100%;
    }
    .navbar_link {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile_menu{
        position: absolute;
        top: 10%;
        right: 10%;
        transform: translate(5%, 20%);
    }
    .navbar_toggle .bar{
        width: 40px;
        height: 6px;
        margin: 7px auto;
        display: block;
        cursor: pointer;
        background: #fff;
    }
    #mobile_menu.is-active .bar:nth-child(1) {
        transform: translateY(9px) rotate(-45deg);
    }
    #mobile_menu.is-active .bar:nth-child(3) {
        transform: translateY(-16px) rotate(45deg);
    }
    #mobile_menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
}